// Fix Accordion Linked heading
a.panel-heading
{
  display: block;
}

// Fix Carousel control arrows
.carousel-control>span
{
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 30px;
}

// Feature box images respect align
.feature-image>img.img-responsive
{
  display: inline-block;
}